<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=pwtollboothstorage;AccountKey=s99Q18VmG/6zt+fZ1UCcn0zFQif3DTm9YIU1cDBGTMkF7L1c2bXDpdfv9/h3GauKWC7dFSCgyRUrsNBbs/kIiQ==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>